.wrapper {
  overflow: hidden;
  margin: auto;
  margin-top: 4rem;
  max-width: 350px;
  background: url(https://images.ottplay.com/static/backgroundImage-updated.jpg);
  border-radius: 15px;
}

#new-web-search-input {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: rgba(0,0,0,.3);
  border-radius: 35px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(59 51 72);
  color: #fff;
  font-size: clamp(14px,1.2vw,16px);
  font-family: Montserrat;
}

.searchContainer {
  max-width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  margin-left: 24px;
}


.searchTypeContainer h2 {
  color: #03F87E;
}

.searchTypeContainer ul {
  list-style: none;
  padding: 0;
}

.searchItem{
  display: flex;
  color: #eee;
  margin-bottom: 12px;
}

.searchItem img {
  height: 80px;
  width: 60px;
}

.searchItem h3 {
  font-size: 1.1rem;
  margin-top: -4px;
}

.searchTypeContainer ul li > div {
  padding-left: 6px;
}

 /* custom scroll bar  */

 /* width */
.searchContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.searchContainer::-webkit-scrollbar-track {
  background: #272626;
}

/* Handle */
.searchContainer::-webkit-scrollbar-thumb {
  background: #03F87E;
}
