.searchContainer {
  max-width: 400px;
}

.searchTypeContainer {

}

.searchTypeContainer h2 {

}

.searchTypeContainer ul {
  list-style: none;
}

.searchItem{
  display: flex;
  margin: 12px 0;
}

.searchItem img {
  height: 100px;
  width: 80px;
}

.searchItem h3 {
  font-size: 1.2rem;
}

.searchTypeContainer ul li > div {
  padding-left: 16px;
}
